@model List<Movie>

@{
    ViewBag.Title = "List Of Movies";
}

<h1>All Movies</h1>
<a asp-controller="Movies" asp-action="Create">Add new movie</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@m.Name</td>
                <td>@m.Year</td>
                <td>@m.Rating</td>
                <td>
                    <a href="#">Edit</a>
                    <span class="mx-1"></span>
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>