@model BmiViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMI Calculator</title>
</head>
<body>
    <h1>BMI Calculator</h1>

    <form asp-controller="Bmi" asp-action="Index" 
                    method="post" enctype="application/x-www-form-urlencoded">
        <div>
            <label asp-for="Weight">Weight (in Kg):</label>
            <input asp-for="Weight" type="text" />
        </div>

        <div>
            <label asp-for="Height">Height (in metres):</label>
            <input asp-for="Height" type="text" />
        </div>

        <div>
            <label asp-for="Bmi">BMI:</label>
            <input asp-for="Bmi" type="text" disabled="disabled" />
        </div>

        <button type="submit">Calculate</button>
        <a href="#">Clear</a>
    </form>
</body>
</html>
